/* General Modal and Overlay Styling */
.modal, .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.overlay {
    background-color: rgba(0,0,0,0.5); /* Semi-transparent black background */
}

/* z-index management */
#overlayOne {
    z-index: 10; /* Lower z-index for the first overlay */
}

#modalOne {
    z-index: 20; /* Lower z-index for the first modal */
}

#overlayTwo {
    z-index: 30; /* Higher z-index for the second overlay */
}





#modalTwo {
    z-index: 40; /* Highest z-index for the second modal */
}

/* Modal Content Styling */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* Centered vertically and horizontally */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    position: relative;
}


.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
/* Show the modal when active */

#overlayOne, #overlayTwo { display: none; }
.hidden { display: none !important; }



.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.modal__x {
    position: absolute;
    top: 15px;
    right: 55px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    fill: var(--text-secondary);
}

.modal__x{ background: transparent; border: 0; color: #fff; font-size: 18px; cursor: pointer; }



#modal-nR-Re-cancelBtn:hover,
#modal-nR-Tr-cancelBtn:hover,
#modal-nR-transfer #modal-nR-Tr-cancelBtn:hover
 {
    background-color: red !important;
}

 #modal-nR-Re-saveBtn:hover,
 #modal-nR-Tr-saveBtn:hover,
 button#modal-nR-Tr-saveBtn.btn.btn--primary:hover {
    background-color: #07df0e !important;
}

button#modal-nR-Tr-cancelBtn,
#modal-nR-Re-cancelBtn,
#modal-nR-transfer #modal-nR-Tr-cancelBtn {
    padding: 12px !important;
    background-color: darkred !important;
    color: white !important;
    border: 1px solid rgb(255, 0, 0) !important;
    border-radius: 5px !important;
    cursor: pointer !important;
}

button#modal-nR-Tr-saveBtn.btn.btn--primary {
    margin: 10px !important;
    background-color: #027608 !important;
    color: white !important;
    border: none !important;
    border-radius: 5px !important;
    cursor: pointer !important;
}





.modal__panel{
  position: relative;
  top: 120px;
  width: 1280px;
  margin: 40px auto;
  border-radius: 14px;
  background: #0f2132;
  color: #fff;
  border: 1px solid rgba(255,255,255,.12);
  overflow: visible;
  min-height: min-content;
}

.modal__panel__ovl1{
  position: relative;
  width: 1280px;
  margin: 40px auto;
  border-radius: 14px;
  background: #0f2132;
  color: #fff;
  border: 1px solid rgba(255,255,255,.12);
  overflow: visible;
  min-height: min-content;
}
.modal__panel2{
  position: relative;
  top: 120px;
  width: 1080px;
  margin: 40px auto;
  border-radius: 14px;
  background: #430000;
  color: #fff;
  border: 1px solid rgba(255,255,255,.12);
  overflow: visible;
  min-height: min-content;
}

.modal__panel3{
  position: relative;
  top: 120px;
  width: 1080px;
  margin: 40px auto;
  border-radius: 14px;
  background: #001e00;
  color: #fff;
  border: 1px solid rgba(255,255,255,.12);
  overflow-y: auto !important; /* vertical scroll when needed */ 
  min-height: min-content;
  max-height: 90vh !important; /* allow almost full viewport height */
  padding: 1rem !important;    /* optional for spacing */
}


